---
layout: page
title: "About"
description: "Hey, this is pmf."
header-img: "img/about-bg.jpg"
---

<!-- Chinese Version -->
<div class="en post-container">
    <blockquote>
        写写代码,打打dota,看看sp
    </blockquote>
    I wanna hold 'em like they do in Texas Plays<br>
    A little gamblin' is fun when you're with me (I love it)<br>
    Russian Roulette is not the same without a gun<br>
    And baby when it's love, if it's not rough it isn't fun<br>
    <br>
    Oh o-oh oh oh, o-o-o-o-o-oh<br>
    I'll get him hot, show him what I've got(2x)<br>
    <br>
    Can't read my, can't read my<br>
    No, he can't read my poker face<br>
    (She's got to love nobody)(2x)<br>
    <br>
    P-p-p-poker face, p-p-poker face<br>
    (mum-mum-mum-mah)(2x)<br>
    <br>
    I wanna roll with him, a hard pair we will be<br>
    I don't give a crap about whales, so go and hug a tree (I love it)<br>
    Russian Roulette is not the same without a gun<br>
    And baby when it's love, if it's not rough it isn't fun<br>
    <br>
    <p style="text-align:right;">
        ——Eric Cartman
    </p>

</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "blackjar" %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by pmf
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.github_issue %}
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  //id: '', // 可选。默认为 location.href
  owner: 6545011,
  repo: 'https://github.com/MingfeiPan/issueforsite',
  oauth: {
    client_id: '2175efeca7a681758af0',
    client_secret: '11ef935b9ac8e1a1091002133353f11e60b2bcf0',
  },
})
gitment.render('comments')
</script>

{% endif %}

{% if site.wangyi %}
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "9cdcd73a7ae14e7c85b03ea7cec9dfa5",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>

{% endif %}
